<div class="form-inline">
  <div class="form-group mb-2">
    <label class='mr-2'>
      Filtro:
    </label>
    <input type="text" class="form-control mr-2" placeholder="Buscar" [(ngModel)]="filtroLista">
  </div>
</div>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button class="btn btn-outline-primary" (click)="alternarImagem()">
          <i class="{{mostrarImagem ? 'fa fa-eye-slash' : 'fa fa-eye'}}">
          </i>
        </button>
      </th>
      <th>Id</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>telefone</th>
      <th>Lote</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img *ngIf="mostrarImagem" src="http://localhost:5000/img/{{evento.imgUrl}}" [style.width.px]="imagemLargura"
          [style.margin.px]="imagemMargem">
      </td>
      <td> {{evento.identifyer}} </td>
      <td> {{evento.tema | uppercase }} </td>
      <td> {{evento.local }} </td>
      <td> {{evento.dataEvento | DateTimeFormatPipe }} </td>
      <td> {{evento.qtdPessoas}} </td>
      <td> {{evento.telefone}} </td>
      <td>
        <div *ngIf="!evento.lotes">
          Não Informado
        </div>
        <div *ngIf="evento.lotes && evento.lotes.length">
          {{evento.lotes[0].nome | uppercase}}
        </div>
      </td>
      <td>
        <button class="btn btn-success"> </button>
        <button class="btn btn-danger"> </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="7" class="text-center">
        Nenhum elemento encontrado
      </td>
    </tr>
  </tfoot>
</table>
